<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
    <add assembly="NLog.Targets.Seq" />
  </extensions>

  <variable name="logDirectory" value="${basedir}/logs" />

  <targets async="true">
    <target name="file"
            xsi:type="File"
            fileName="${logDirectory}/toolbox-api-${shortdate}.log"
            archiveFileName="${logDirectory}/archives/toolbox-api.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="14"
            layout="${longdate}|${level:uppercase=true}|${logger}|${aspnet-request-method} ${aspnet-request-url}|${message}|${exception:format=ToString}" />

    <target name="console"
            xsi:type="Console"
            layout="${time}|${level:uppercase=true}|${logger:shortName=true}|${message}|${exception:format=ToString}" />

    <target name="seq"
            xsi:type="BufferingWrapper"
            bufferSize="100"
            flushTimeout="2000">
      <target xsi:type="Seq" serverUrl="${configsetting:item=Seq.ServerUrl:default=http://localhost:5341}">
        <property name="Application" value="ToolboxManager.Api" />
        <property name="MachineName" value="${machinename}" />
        <property name="ThreadId" value="${threadid}" as="number" />
      </target>
    </target>

    <!-- Production: uncomment after setting NEWRELIC_LICENSE_KEY. New Relic
         picks up forwarded logs from stdout when the .NET agent is installed,
         so the console target above is what production reads. -->
  </targets>

  <rules>
    <logger name="Microsoft.*"                   maxlevel="Info"  final="true" />
    <logger name="Microsoft.Hosting.Lifetime"    minlevel="Info"  writeTo="console,file,seq" final="true" />
    <logger name="System.Net.Http.HttpClient.*"  maxlevel="Info"  final="true" />
    <logger name="*" minlevel="Info" writeTo="console,file,seq" />
  </rules>
</nlog>
